flows_sample_artnet.json
[{"id":"30e09e05f08146be","type":"tab","label":"フロー 3","disabled":false,"info":"","env":[]},{"id":"5dcbb49c7f38c136","type":"artnet out","z":"30e09e05f08146be","name":"","address":"127.0.0.1","port":6454,"size":512,"rate":40,"universe":0,"x":390,"y":140,"wires":[]},{"id":"b3bb2dec80e0f7bb","type":"inject","z":"30e09e05f08146be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"buckets\":[{\"channel\":1,\"value\":10},{\"channel\":2,\"value\":10},{\"channel\":3,\"value\":10},{\"channel\":4,\"value\":10}]}","payloadType":"json","x":170,"y":140,"wires":[["5dcbb49c7f38c136"]]},{"id":"90de0d3b6245bc46","type":"inject","z":"30e09e05f08146be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"buckets\":[{\"channel\":1,\"value\":100},{\"channel\":2,\"value\":100},{\"channel\":3,\"value\":100},{\"channel\":4,\"value\":100}]}","payloadType":"json","x":170,"y":200,"wires":[["5dcbb49c7f38c136"]]},{"id":"2dbf7047475633a3","type":"ui_slider","z":"30e09e05f08146be","name":"","label":"red","tooltip":"","group":"1301df354f7bce72","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","className":"","x":170,"y":260,"wires":[["542b5e1c4564fd4e"]]},{"id":"37e50b2b1bc4354b","type":"ui_slider","z":"30e09e05f08146be","name":"","label":"green","tooltip":"","group":"1301df354f7bce72","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","className":"","x":190,"y":320,"wires":[["2b59f26d329d7110"]]},{"id":"e7ca080d87ad3d1c","type":"ui_slider","z":"30e09e05f08146be","name":"","label":"blue","tooltip":"","group":"1301df354f7bce72","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","className":"","x":210,"y":380,"wires":[["bdd037f30ce5aa89"]]},{"id":"5d7973d20a1f1256","type":"debug","z":"30e09e05f08146be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":260,"wires":[]},{"id":"2b59f26d329d7110","type":"template","z":"30e09e05f08146be","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"buckets\":[\n        {\"channel\":1,\"value\":100},\n        {\"channel\":2,\"value\":100},\n        {\"channel\":3,\"value\":100},\n        {\"channel\":5,\"value\":{{payload}}}\n    ]\n}","output":"json","x":340,"y":320,"wires":[["5d7973d20a1f1256","5dcbb49c7f38c136"]]},{"id":"bdd037f30ce5aa89","type":"template","z":"30e09e05f08146be","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"buckets\":[\n        {\"channel\":1,\"value\":100},\n        {\"channel\":2,\"value\":100},\n        {\"channel\":3,\"value\":100},\n        {\"channel\":6,\"value\":{{payload}}}\n    ]\n}","output":"json","x":360,"y":380,"wires":[["5d7973d20a1f1256","5dcbb49c7f38c136"]]},{"id":"542b5e1c4564fd4e","type":"template","z":"30e09e05f08146be","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"buckets\":[\n        {\"channel\":1,\"value\":100},\n        {\"channel\":2,\"value\":100},\n        {\"channel\":3,\"value\":100},\n        {\"channel\":4,\"value\":{{payload}}}\n    ]\n}","output":"json","x":320,"y":260,"wires":[["5d7973d20a1f1256","5dcbb49c7f38c136"]]},{"id":"1301df354f7bce72","type":"ui_group","name":"デフォルト","tab":"d971fb9253837ebb","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d971fb9253837ebb","type":"ui_tab","name":"ホーム","icon":"dashboard","disabled":false,"hidden":false}]